<h6>Date building</h6>
<br>
<form [formGroup]="dateForm" style="display: flex">
    <div>
        <h6>Select day value</h6>
        <mat-form-field>
            <mat-select formControlName="dayValue" required>
                <mat-option *ngFor="let day of days" [disabled]="day.status == 'disabled'" [value]="day.number">
                    {{day.number}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="selectedDayDeletedHint">
                {{selectedDayDeletedHint}}
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <h6>Select month value</h6>
        <mat-form-field>
            <mat-select formControlName="monthValue" required>
                <mat-option *ngFor="let month of months" [value]="month" (click)="change({el: 'month', val: month})">
                {{month}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <h6>Select year value</h6>
        <mat-form-field>
            <mat-select formControlName="yearValue" required>
                <mat-option *ngFor="let year of years" [value]="year" (click)="change({el: 'year', val: year})">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>
<br>
<div style="display: flex">
    <button style="margin-right: 20%" mat-raised-button (click)="generate()" [disabled]="!dateForm.valid">Generate date from ingredients</button>
    <p style="color: red">
        {{datePutAlltogether}}
    </p>
</div>
<hr>
<h6>Date manipulation</h6>
<p>If date not built above current date used!</p>
<br>
<div style="display: flex">
    <mat-radio-group aria-label="Select an option" style="display: flex; margin-right: 5px" [(ngModel)]="addSubtractDecision" (change)="checkTotalValidity()">
        <mat-radio-button style="margin-right: 10px" value="add">Add</mat-radio-button>
        <mat-radio-button value="subtract">Subtract</mat-radio-button>
    </mat-radio-group>
    
    <form [formGroup]="nrOfDateElementForm" style="margin-right: 5px">
        <mat-form-field>
            <input matInput type="number" placeholder="Amount" formControlName="dElement" (ngModelChange)="checkTotalValidity()"> <!-- (ngModelChange)="checkTotalValidity()-->
        </mat-form-field>
    </form>
    <mat-radio-group aria-label="Select an option" style="margin-right: 5px" [(ngModel)]="timeRange" (change)="checkTotalValidity()">
        <mat-radio-button value="days">Days</mat-radio-button>
        <mat-radio-button value="weeks">Weeks</mat-radio-button>
        <mat-radio-button value="months">Months</mat-radio-button>
        <mat-radio-button value="years">Years</mat-radio-button>
    </mat-radio-group>
    
    <button style="height: 60px" (click)="send()" [disabled]="!dateManipulationButtonActive">Calculate date</button>
</div>
<p style="color: red">
    New date: {{newDate}}
</p>
<hr>
<h6>Differences in dates</h6>
<p>If both previous dates not set up nothing to admire here!</p>
<br>
<mat-list role="list">
    <mat-list-item role="listitem">Duration (mins): {{durMins}}</mat-list-item>
    <mat-list-item role="listitem">Duration (hours): {{durHours}}</mat-list-item>
    <mat-list-item role="listitem">Duration (days): {{durDays}}</mat-list-item>
  </mat-list>










