<h6>Set of various pipes</h6>
<div style="display: flex; justify-content: space-between">
    <p>Unfold to display details</p>
    <p style="margin-right: 5px">Current time: {{now | date:'H:mm:ss'}}</p>
</div>

<hr>
<mat-accordion>
    <mat-expansion-panel *ngFor="let el of myElements" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{el.name}}
            </mat-panel-title>
            <mat-panel-description *ngIf="el.pipeType == 'percentage'">
                {{ el.valToChange | percent : '2.0-0'}}
             </mat-panel-description>
            <mat-panel-description *ngIf="el.pipeType == 'JSONObject'">
                {{ el.valToChange | json }}
             </mat-panel-description>
             <mat-panel-description *ngIf="el.pipeType == 'dict'">
                {{ selectedGrammaticalCase | i18nSelect : dict }}
             </mat-panel-description>
             <mat-panel-description *ngIf="el.pipeType == 'number'">
                {{ el.valToChange | bubasPipe : el.pipeType : el.param }}
             </mat-panel-description>
             <mat-panel-description *ngIf="el.pipeType == 'krypto'">
                {{ txtToEncrypt | bubasPipe : el.pipeType : cryptoCoeff }}
             </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngIf="el.pipeType != 'dict' && el.pipeType != 'krypto'">{{el.desc}}</p>
        <div *ngIf="el.pipeType == 'dict'">
            <p>{{el.desc}}</p>
            <br>
            <mat-form-field>
                <mat-label>Select a grammatical case</mat-label>
                <mat-select [(value)]="selectedGrammaticalCase">
                  <mat-option *ngFor="let case of dictKeys" [value]="case" (click)="updateMyElementsForDictionary(case)">{{case}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div *ngIf="el.pipeType == 'krypto'">
            <p>{{el.desc}}</p>
            <br>
            <div style="justify-content: space-between">
                <div>
                    <mat-label style="margin-right: 10px">
                        Coefficient
                    </mat-label>
                    <mat-form-field style="width: 40px">
                        <input matInput type="number" [(ngModel)]="cryptoCoeff">
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <textarea matInput placeholder="Enter your text to encrypt" [formControl]="txt" (keyup)="textChanged()"></textarea>
                </mat-form-field>
            
            </div>

        </div>
        
    </mat-expansion-panel>
</mat-accordion>