<h4>Rxjs topics super page</h4>
<mat-tab-group>
    <mat-tab label="Subscription">
        <rxjs-subscription-use></rxjs-subscription-use>
    </mat-tab>
    <mat-tab label="Object creation">
        <rxjs-object-create></rxjs-object-create>
    </mat-tab>
    <mat-tab label="Rxjs Operators">
        <rxjs-operators></rxjs-operators>
    </mat-tab>
    <mat-tab label="Comment">
        <mat-card>
            <mat-card-subtitle>Do konsultacji<i class ="material-icons">done_outline</i></mat-card-subtitle>
            <mat-card-content>
                <p>Nic nie ma do konsultacji, wszstyko jasne</p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>